body {
  font: 35px "Century Gothic", Futura, sans-serif;
  margin: 35px;
  text-align: center;
  color: rgb(76, 66, 164);
  background: rgb(2, 170, 170);
}

#tac {
  color: blue;
}
.historyButton {
  background-color: goldenrod;
  font: 30px "Century Gothic", Futura, sans-serif;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  color: purple;
}

.historyButton:hover {
  background-color: gold;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status-txt{
  margin-bottom: 30px;
  color: yellow;
  font-weight: bold;
  line-height: 60px;
  background-color: teal;
  padding: 10px;
  margin: 0px 10px 15px 15px;  
  border-radius: 8px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 75px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.current-square {
  color: blueviolet;
}

.win-square {
  font-weight: bolder;
  color: red;
  background-color: yellowgreen;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction:  column;
  background-color: rgb(21, 157, 157);
  padding: 50px 0;
}

.game-info {
  background-color: rgb(21, 157, 157);
  margin: 20px auto;
  padding: 0 20px;
  
}

.game-board {
  margin: 0 auto;
}
